<div class="container" ng-app="app">
  <script>
    window.Participants = <%= raw @participants %>;
  </script>
  <div class="form-group" ng-controller="Participants">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10">
        <div class="panel panel-default">
          <div class="panel-heading c-list">
            <span class="title">Participants</span>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <input type="text" placeholder="Search" class="form-control no-radius" id="contact-list-search" ng-model="search">
            </div>
          </div>

          <div  ng-if="search && search.length > 2">
            <ul ng-repeat="p in participants | filter : search" style="margin-bottom: 0"  class="list-group" id="contact-list">
              <li style="border-radius:0;" class="list-group-item {{classFor(p)}}" ng-click="toggle(p)">
                <h4 class="pull-left">{{p.first_name}} {{p.last_name}}</h4>
                <h4 class="pull-right">{{p.check_date | date:"dd/MM/yyyy 'à' H:mm":"+0200"}}</h4>
                <div class="clearfix"></div>
              </li>
              <li style="border-radius:0; border:0" class="list-group-item padding" ng-if="p.id == displayed" ng-click="toggle(p)">
                <div class="clearfix"></div>
                <div class="text-center clear">
                  <qrcode version="2" error-correction-level="M" size="200" data="{{p.ticket_code}}"></qrcode>
                  <a class="btn btn-primary btn-block"  href="/check/{{p.ticket_code}}">Valider l'entrée</a>
                  <!--<a class="btn btn-danger btn-block" href="/uncheck/{{p.ticket_code}}">Dévalider l'entrée</a>-->
                </div>
                <div class="clearfix"></div>
              </li>

            </ul>
          </div>
          <div class="text-center text-muted" id="no-search" ng-if="search == false || search.length <= 2">
            Please search for a user.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
