<div class="container" ng-app="app">
  <script>
    window.Participants = <%= raw @participants %>;
  </script>
  <div class="form-group" ng-controller="Participants">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10">
        <div class="panel panel-default">
          <div class="panel-heading c-list">
            <span class="title">Participants</span>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <input type="text" placeholder="Search" class="form-control no-radius" id="contact-list-search" ng-model="search">
            </div>
          </div>

          <ul class="list-group" id="contact-list" ng-if="search">
            <li ng-repeat="p in participants | filter : search" class="list-group-item" ng-click="toggle(p)">
              <h4>{{p.first_name}} {{p.last_name}}</h4>
              <div class="text-center" ng-if="p.id == displayed">
                <qrcode version="2" error-correction-level="M" size="200" data="{{p.ticket_code}}"></qrcode>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
          <div class="text-center text-muted" id="no-search" ng-if="search == false">
            Please search for a user.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
